/**{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    box-sizing: border-box;
}*/


body{
    margin: 0;
    padding-top: 60px;
    overflow-x: hidden
}

header{
    position: fixed;
    width: 100%;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 60px;
    z-index: 200;
    top: 0;
}

.logo{
    width: 150px;
    padding-left: 10px;
    margin-top: 5px;
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #3D3D3D;
    list-style: none;
    margin-top: 20px;
    z-index: 50;
}

.icon-down-open {
    margin-left: 3px;    
}

.menu li{
    padding: 0px 10px;
}

.lista-cont {
    list-style: none;
    display: none;
    background: white;
    margin-top: 10px;
    font-size: 13px;
    padding: 0;  
}    

.lista-cont li {
    padding-top: 10px; 
    left: 0;
    height: 30px;
    box-shadow: 0px 1.1px 0px 0px grey;  
}

.lista-cont li:hover {
    background-color: rgba(0,0,0,0.3);
    transition: all 0.3s;  
}


.idioma {
    display: flex;
    padding: 0;
    margin-right: 20px;
    margin-top: 1px;
    overflow: visible;
    justify-content: flex-end;
}

.idioma a{
    text-align: right;
    font-family: 'Quicksand', sans-serif;
    color: #3D3D3D;
    font-size: 13px;
    display: block;
    padding-top: 18.8px;   
}

.ipca {
    width: 50px;
    height: 50px;   
}

.fondoen {
  position: absolute;
  width: 1250px;
  height: 400px;
  background-color: RGBA(100,100,100,0.8);
  z-index: -2;
  transform: skew(-30deg);
  margin-left: -400px;
  
  
}

.entrada {
    height: 210px;
    padding-top: 95px;
    padding-bottom: 55px;
}

.foto-biblio {
    display: block;
    position: fixed; 
    height: 100%;
    bottom: 50px;
    top: 0;
    z-index: -50;
    margin: 0;   
}

.bem-vindo {
    margin-left: -90px;
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Bebas Neue";
    src: url(FONTS/BebasNeue.otf);
    /*font-weight: bold;*/
    font-size: 80px;
    color: white;
    text-align: center;
    border: 3px;
    border-style: solid;
    width: 1010px;
    height: 100px;
    padding: 18px 0px 10px 0px;
}

.insti {
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin-left: 120px;
    font-size: 25px;
}

.box1{
    background-color:#EAEAEA;
    text-align: center;
    font-family: "Bebas Neue";
    src: url(FONTS/BebasNeue.otf);
    /*font-weight: bold;*/
    font-size: 20px;
    height: 400px;
    z-index: 250;
    padding-top:10px;
    color: #333132;
}

.box2{
    background-color:white;
    text-align: center;
    font-family: "Bebas Neue";
    src: url(FONTS/BebasNeue.otf);
    /*font-weight: bold;*/
    font-size: 20px;
    height: 500px;
    z-index: 250;
    padding-top: 12px;
    color: #333132;
}

.iconos1{
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    color: #3D3D3D;
    font-weight: 100;
    font-size: 20px;
    padding-top:10px;
}

.CAT {
    margin-left: -200px;
}

.NOV {
    margin-right: -200px;
}

.catalogo {
    height: 180px;
    width: 180px; 
}

.novidades {
    height: 180px;
    width: 180px;
}

.mapa {
    width: 600px;
    height:auto;      
}

.text-amarillo {
  display: flex;
  padding: 0;
  width: 600px;
  margin: auto;
}

.cuadrado {
    height: 20px;
    width: 20px;
    background: #EDC457;
    margin-left: px; 
}

.biblio {
   font-family: 'Quicksand', sans-serif;
   color:black;
   font-weight: 100;
   font-size:15px;
   text-align: left;
   padding-left: 7px;
   margin-top: 0;
}

.contactanos {
    color:white;
    padding: 30px;
    background: grey;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    overflow:visible;
}




.linea {
    background: #EDC457;
    width: 80px;
    height: 2px;
}

.linea2 {
    background-color: lightgray;
    width: 100%;
    height: 1px;
    box-sizing: border-box;
}

.contacta-footer {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    overflow: visible;
}

.info-footer {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 13px; 
}

.fa {
    font-size: 50px;
    padding-top: 4px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 1px;
    width: 18px;
    height: 18px;
    text-align: center;
    text-decoration: none;
    color: grey;
    background: white;
    border-radius: 16%;
    grid-column-start: 3;
    grid-row-start: 1; 
}    

.fa:hover {
    opacity: 0.7;
}

.redes {
    grid-column-start: 3;
    justify-self: end;
    text-align: right;
}

.tel {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 13px;
    grid-column-start: 2;
    text-align: right;
    padding-top: 35px;
}

.copyright {
    font-size: 10px;
    text-align: center;
    padding-top: 40px;
    font-family: sans-serif;
    grid-column-start: 2;
    box-sizing: border-box;
    
}

.menu2 {
    display:none;
    position: fixed;
    margin-top: 61px;
    height: 100%;
    background-color: white;
    width: 50%;
    font-family: 'Quicksand', sans-serif;
    padding-top: 0;
    padding-right: 20px;
    right: 0px;
    transform: translate(100%);
    transition: all 1.5s;
}

.real-menu {
    transform: translate(0);
}

.menu21 {
    list-style: none;
}

.menu21 li{
    height: 40px;
    padding-top: 20px;
    text-align: right;
    border-bottom: 1px solid;
}

.lista-cont2 {
    list-style: none;
    font-size: 14px;
    padding-top: 20px;
    background: white;
    position: relative;
}

.lista-cont2 li {
    height: 20px;
}


.bottom-menu {
    display: none;
    width: 30px;
    position: fixed;
    right: 0;
    padding-right: 20px;
    padding-top: 10px;
    z-index: 200;

}

@media all and (max-width: 959px) {
    .bem-vindo {
         margin-left: -90px;
         margin-bottom: 0;
         margin-top: 0;
         font-family: "Bebas Neue";
         src: url(FONTS/BebasNeue.otf);
         font-size: 70px;
         color: white;
         text-align: center;
         border: 3px;
         border-style: solid;
         width: 900px;
         height: 85px;
         padding: 18px 0px 10px 0px;
    }
    
    .insti {
        font-family: 'Quicksand', sans-serif;
        color: white;
        margin-left: 120px;
        font-size: 20px;
    }
    
    .fondoen {
        position: absolute;
        width: 1250px;
        height: 400px;
        background-color: RGBA(100,100,100,0.8);
        z-index: -2;
        transform: skew(-30deg);
        margin-left: -510px;
}
}

@media all and (max-width: 859px) {
    .bem-vindo {
         margin-left: -50px;
         margin-bottom: 0;
         margin-top: 0;
         font-family: "Bebas Neue";
         src: url(FONTS/BebasNeue.otf);
         font-size: 60px;
         color: white;
         text-align: center;
         border: 3px;
         border-style: solid;
         width: 700px;
         height: 75px;
         padding: 18px 0px 10px 0px;
    }
    
    .insti {
        font-family: 'Quicksand', sans-serif;
        color: white;
        margin-left: 120px;
        font-size: 15px;
    }
    
    .fondoen {
        position: absolute;
        width: 1250px;
        height: 400px;
        background-color: RGBA(100,100,100,0.8);
        z-index: -2;
        transform: skew(-30deg);
        margin-left: -665px;
    } 
}

@media all and (max-width: 765px) {
    .cuerpo {
        grid-template-columns: 1fr;
    }
    
    .contactanos {
        display: block;
        box-sizing: border-box;
        
    }
    
    .redes {
    justify-self: start;
    text-align: left;
    
}
    
    .tel {
        text-align: left;
        padding-top: 8px;
    }
    
    
    
    
      
}

@media all and (max-width: 579px) {
  
    
     .bem-vindo {
         margin-left: -10px;
         margin-bottom: 0;
         margin-top: 0;
         font-family: "Bebas Neue";
         src: url(FONTS/BebasNeue.otf);
         font-size: 50px;
         color: white;
         text-align: center;
         border: 3px;
         border-style: solid;
         width: 500px;
         height: 65px;
         padding: 18px 0px 10px 0px;
    }
    
    .insti {
        font-family: 'Quicksand', sans-serif;
        color: white;
        margin-left: 80px;
        font-size: 15px;
    }
    
    .fondoen {
        position: absolute;
        width: 1250px;
        height: 400px;
        background-color: RGBA(100,100,100,0.8);
        z-index: -2;
        transform: skew(-30deg);
        margin-left: -799px;
    } 
    
  .CAT {
    margin-left: -0px;
}

  .NOV {
    margin-right: -0px;
}
    
    .mapa {
    width: 500px;
    height:auto;      
}
  
    .text-amarillo {
  display: flex;
  padding: 0;
  width: 495px;
  margin: auto;
}
    
  .menu2 {
    display:block;
    
}
    
  .menu {
        display: none;
    }
 
  .idioma {
        display: none;
    }  
    
  .bottom-menu {
        display: block;  
    }
     
    header {
        box-shadow: 0.5px 0.5px 1px grey;
    }
    
    .contacta-footer {
        font-size:12px ;
    }
    
    .info-footer {
        font-size:10px ;
    }
    
    .tel {
        font-size:10px ;
    }
    
    .copyright {
        font-size:8px ;
    }
    
    
    
    
}
   
@media all and (max-width: 400px) {
    
     .bem-vindo {
         margin-left: -10px;
         margin-bottom: 0;
         margin-top: 0;
         font-family: "Bebas Neue";
         src: url(FONTS/BebasNeue.otf);
         font-size: 35px;
         color: white;
         text-align: center;
         border: 3px;
         border-style: solid;
         width: 380px;
         height: 45px;
         padding: 18px 0px 10px 0px;
    }
    
    .insti {
        font-family: 'Quicksand', sans-serif;
        color: white;
        margin-left: 40px;
        font-size: 12px;
    }
    
    .fondoen {
        position: absolute;
        width: 1250px;
        height: 400px;
        background-color: RGBA(100,100,100,0.8);
        z-index: -2;
        transform: skew(-30deg);
        margin-left: -930px;
    } 
    
    .entrada {
    height: 110px;
    padding-top: 95px;
    padding-bottom: 55px;
}
    
    .box1 {
        font-size: 15px;
        height: 300px;
    }
    
    .box2 {
        font-size: 15px;
        height: 300px;
    }
    
    .catalogo {
    height: 120px;
    width: 120px; 
}

   .novidades {
    height: 120px;
    width: 120px;
}

    .iconos1{
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    color: #3D3D3D;
    font-weight: 100;
    font-size: 15px;
    padding-top:0;
    
}
 
    .mapa {
        width: 350px;
        
    }
    
    .text-amarillo {
       display: flex;
       padding: 0;
       width: 345px;
       margin: auto; 
    }
    
    .biblio {
        font-size: 11px;
    }
    
    .cuadrado {
        height: 13px;
        width: 13px;
    }
    
}  


/* PAGE 2 
============================================= */

.cuerpo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.REC {
    margin: 30px 0 10px 0;
}

.bloque1 {
    background-color: #EDC457;
    width: 300px;
    padding-bottom: 50px;
    font-family: "Bebas Neue";
    src: url(FONTS/BebasNeue.otf);
    font-size: 60px;
    text-align: center;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    
}

.linea_r {
    height: 2px;
    width: 150px;
    background-color: black;
    margin: 0 auto;
}

.text-r {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    padding: 60px 20% 0 20%;
    text-align: justify;
}

.bloque2 {
    background-color: lightgrey;
    padding-top: 40px;
    width: 300px;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    
}
    
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #CCC;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #EDC457;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: orange;
}

.container {
    background-color: white;
    padding: 20px;
    margin: 30px;
}

label[for="fname"] {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
}

label[for="lname"] {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
}

label[for="country"] {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
}

label[for="subject"] {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
}

label[for="submit"] {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
}

a {
 text-decoration: none;
 color: #3D3D3D;
} 